#container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

.box {
    background-color: black;
}