body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: lightblue;
}


header {
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;
}
  
  #container {
    border: solid black;
    width: 650px;
    height: 650px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
  }
  
  .box {
    border: solid 1px lightgray;
    background-color: white;
  }


 #buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
 }

 button {
  padding: 6px;
  font-size: 25px;
  border: 2px solid black;
 }